<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="/spitter/register" enctype="multipart/form-data">
        First Name:<input type="text" name="firstName" /><br />
        Last Name:<input type="text" name="lastName" /><br />
        Username:<input type="text" name="username" /><br />
        Password:<input type="password" name="password" /><br />
        Profile Picture:<input type="file" name="profilePicture" accept="image/jpeg,image/png,image/gif" /><br />
        <input type="submit" value="Register">
    </form>
</body>
</html>